#navbar img {
    width: 150px;
    
}
#socialmedia img{
    float: right;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    color: white;
    
}

#loginbutton{
    float: right;
    width: 100px;
    height: 50px;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 10%;
}
#banner_container{
    height: 450px;
    background-image: url(recursos/banner.jpg);
    background-position: center;
}


#profilephoto{
    position: relative;
    bottom: 150px;
    border-radius: 70%;
    margin-left: 5px;
}

#about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;

}

.main-sections{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.editicon{
    display: none;
    font-size: 35px;
    position: absolute;
    left: 95%; /*usar breakpoints pq cuando se acorta el ancho de la pagina, el componente se sale de su contenedor y genera un scroll*/
    top: 7%;
}

.edicon{
    display:none;
    width: 70px;
    position:relative;
    position: absolute;
    left: 95%;
    top: 3%;
}


.progress-bar{
    height: 150px;
}