#navbar img {
    width: 150px;
    
}
#socialmedia img{
    float: right;
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    color: white;
    
}
#banner_container{
    height: 450px;
    background-image: url(recursos/banner.jpg);
    background-position: center;
}


#profilephoto{
    position: relative;
    bottom: 150px;
    border-radius: 70%;
    margin-left: 5px;
}

#about{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;

}

.main-sections{
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.progress-bar{
    height: 150px;
}